<mat-toolbar color='primary'>
    <span>
        <a routerLink="/">Favorite App ! </a>
    </span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="userIsAuthanticated">
            <a mat-button routerLink="/create" routerLinkActite="mat-accent">Create</a>
        </li >
        <li *ngIf="!userIsAuthanticated">
          <a mat-button routerLink="/login" routerLinkActite="mat-accent">Login</a>
        </li>
        <li *ngIf="!userIsAuthanticated">
          <a mat-button routerLink="/signup" routerLinkActite="mat-accent">Signup</a>
        </li>
        <li *ngIf="userIsAuthanticated">
          <button mat-button (click)="onLogout()">Logout</button>
        </li>
    </ul>

</mat-toolbar>
